###Data fields

Here's a brief version of what you'll find in the data description file.

* SalePrice - the property's sale price in dollars. This is the target variable that you're trying to predict.
* MSSubClass: The building class
* MSZoning: The general zoning classification
* LotFrontage: Linear feet of street connected to property
* LotArea: Lot size in square feet
* Street: Type of road access
* Alley: Type of alley access
* LotShape: General shape of property
* LandContour: Flatness of the property
* Utilities: Type of utilities available
* LotConfig: Lot configuration
* LandSlope: Slope of property
* Neighborhood: Physical locations within Ames city limits
* Condition1: Proximity to main road or railroad
* Condition2: Proximity to main road or railroad (if a second is present)
* BldgType: Type of dwelling
* HouseStyle: Style of dwelling
* OverallQual: Overall material and finish quality
* OverallCond: Overall condition rating
* YearBuilt: Original construction date
* YearRemodAdd: Remodel date
* RoofStyle: Type of roof
* RoofMatl: Roof material
* Exterior1st: Exterior covering on house
* Exterior2nd: Exterior covering on house (if more than one material)
* MasVnrType: Masonry veneer type
* MasVnrArea: Masonry veneer area in square feet
* ExterQual: Exterior material quality
* ExterCond: Present condition of the material on the exterior
* Foundation: Type of foundation
* BsmtQual: Height of the basement
* BsmtCond: General condition of the basement
* BsmtExposure: Walkout or garden level basement walls
* BsmtFinType1: Quality of basement finished area
* BsmtFinSF1: Type 1 finished square feet
* BsmtFinType2: Quality of second finished area (if present)
* BsmtFinSF2: Type 2 finished square feet
* BsmtUnfSF: Unfinished square feet of basement area
* TotalBsmtSF: Total square feet of basement area
* Heating: Type of heating
* HeatingQC: Heating quality and condition
* CentralAir: Central air conditioning
* Electrical: Electrical system
* 1stFlrSF: First Floor square feet
* 2ndFlrSF: Second floor square feet
* LowQualFinSF: Low quality finished square feet (all floors)
* GrLivArea: Above grade (ground) living area square feet
* BsmtFullBath: Basement full bathrooms
* BsmtHalfBath: Basement half bathrooms
* FullBath: Full bathrooms above grade
* HalfBath: Half baths above grade
* Bedroom: Number of bedrooms above basement level
* Kitchen: Number of kitchens
* KitchenQual: Kitchen quality
* TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
* Functional: Home functionality rating
* Fireplaces: Number of fireplaces
* FireplaceQu: Fireplace quality
* GarageType: Garage location
* GarageYrBlt: Year garage was built
* GarageFinish: Interior finish of the garage
* GarageCars: Size of garage in car capacity
* GarageArea: Size of garage in square feet
* GarageQual: Garage quality
* GarageCond: Garage condition
* PavedDrive: Paved driveway
* WoodDeckSF: Wood deck area in square feet
* OpenPorchSF: Open porch area in square feet
* EnclosedPorch: Enclosed porch area in square feet
* 3SsnPorch: Three season porch area in square feet
* ScreenPorch: Screen porch area in square feet
* PoolArea: Pool area in square feet
* PoolQC: Pool quality
* Fence: Fence quality
* MiscFeature: Miscellaneous feature not covered in other categories
* MiscVal: $Value of miscellaneous feature
* MoSold: Month Sold
* YrSold: Year Sold
* SaleType: Type of sale
* SaleCondition: Condition of sale

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_train = pd.read_csv("train.csv")
df_train.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
df_test = pd.read_csv("test.csv")
df_test.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [ ]:
print("The shape of the Train dataset: {}".format(df_train.shape))
print("The shape of the Test dataset: {}".format(df_test.shape))

The shape of the Train dataset: (1460, 81)
The shape of the Test dataset: (1459, 80)

# Data Cleaning

## Data Cleaning Train DataSet

Count missing values

Using a four loop, we can figure out the number of missing values in each column

.value_counts() - Return a Series containing counts of unique values.

In [ ]:
missing_data = df_train.isnull()
columns_missing_data = []
for column in df_train.columns.values.tolist():
  columnn_missing_data = missing_data[column].value_counts()
  if len(columnn_missing_data) == 2:
    print(column)
    print(columnn_missing_data)
    print("")
    columns_missing_data.append(column)

print("These columns have missing data:")
print(columns_missing_data)

LotFrontage
False    1201
True      259
Name: LotFrontage, dtype: int64

Alley
True     1369
False      91
Name: Alley, dtype: int64

MasVnrType
False    1452
True        8
Name: MasVnrType, dtype: int64

MasVnrArea
False    1452
True        8
Name: MasVnrArea, dtype: int64

BsmtQual
False    1423
True       37
Name: BsmtQual, dtype: int64

BsmtCond
False    1423
True       37
Name: BsmtCond, dtype: int64

BsmtExposure
False    1422
True       38
Name: BsmtExposure, dtype: int64

BsmtFinType1
False    1423
True       37
Name: BsmtFinType1, dtype: int64

BsmtFinType2
False    1422
True       38
Name: BsmtFinType2, dtype: int64

Electrical
False    1459
True        1
Name: Electrical, dtype: int64

FireplaceQu
False    770
True     690
Name: FireplaceQu, dtype: int64

GarageType
False    1379
True       81
Name: GarageType, dtype: int64

GarageYrBlt
False    1379
True       81
Name: GarageYrBlt, dtype: int64

GarageFinish
False    1379
True       81
Name: GarageFinish, dtype: int64

GarageQual
False    1379
True       81
Name: GarageQual, dtype: int64

GarageCond
False    1379
True       81
Name: GarageCond, dtype: int64

PoolQC
True     1453
False       7
Name: PoolQC, dtype: int64

Fence
True     1179
False     281
Name: Fence, dtype: int64

MiscFeature
True     1406
False      54
Name: MiscFeature, dtype: int64

These columns have missing data:
['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [ ]:
df_train[columns_missing_data].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotFrontage   1201 non-null   float64
 1   Alley         91 non-null     object
 2   MasVnrType    1452 non-null   object
 3   MasVnrArea    1452 non-null   float64
 4   BsmtQual      1423 non-null   object
 5   BsmtCond      1423 non-null   object
 6   BsmtExposure  1422 non-null   object
 7   BsmtFinType1  1423 non-null   object
 8   BsmtFinType2  1422 non-null   object
 9   Electrical    1459 non-null   object
 10  FireplaceQu   770 non-null    object
 11  GarageType    1379 non-null   object
 12  GarageYrBlt   1379 non-null   float64
 13  GarageFinish  1379 non-null   object
 14  GarageQual    1379 non-null   object
 15  GarageCond    1379 non-null   object
 16  PoolQC        7 non-null      object
 17  Fence         281 non-null    object
 18  MiscFeature   54 non-null     object
dtypes: float64(3), object(16)
memory usage: 216.8+ KB

Columns with missing data:
* LotFrontage 
* Alley
* MasVnrType
* MasVnrArea
* BsmtQual
* BsmtCond
* BsmtExposure
* BsmtFinType1
* BsmtFinType2
* Electrical
* FireplaceQu
* GarageType
* GarageYrBlt
* GarageFinish
* GarageQual
* GarageCond
* PoolQc
* Fence
* Miscfeature


Let's replace the missign values

In [ ]:
#Replace Missing values LotFrontage
meanLontFrontage = df_train["LotFrontage"].mean()
df_train["LotFrontage"].replace(np.nan, meanLontFrontage, inplace = True)
print("The mean od the LontFrontage: {}".format(meanLontFrontage))

The mean od the LontFrontage: 70.04995836802665

In [ ]:
#Replace missing values Alley
df_train["Alley"].replace(np.nan, "NA", inplace = True)

df_train["Alley"].value_counts()

NA      1369
Grvl      50
Pave      41
Name: Alley, dtype: int64

In [ ]:
#Replace missing values MasVnrType
commonMasVnrType = df_train["MasVnrType"].value_counts().idxmax()
df_train["MasVnrType"].replace(np.nan, commonMasVnrType, inplace = True)

In [ ]:
#Replace missing values MasVnrArea
df_train["MasVnrArea"].replace(np.nan, 0, inplace = True)

In [ ]:
print("BsmtQual: \n{}".format(df_train["BsmtQual"].value_counts()))
print("\nBsmtCond: \n{}".format(df_train["BsmtCond"].value_counts()))
print("\nBsmtExposure: \n{}".format(df_train["BsmtExposure"].value_counts()))
print("\nBsmtFinType1: \n{}".format(df_train["BsmtFinType1"].value_counts()))
print("\nBsmtFinType2: \n{}".format(df_train["BsmtFinType2"].value_counts()))
print("\nBsmtFinSF1: \n{}".format(df_train["BsmtFinSF1"].value_counts()))
print("\nBsmtFinSF2: \n{}".format(df_train["BsmtFinSF2"].value_counts()))
print("\nTotalBsmtSF: \n{}".format(df_train["TotalBsmtSF"].value_counts()))

BsmtQual:
TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

BsmtCond:
TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

BsmtExposure:
No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64

BsmtFinType1:
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64

BsmtFinType2:
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: BsmtFinType2, dtype: int64

BsmtFinSF1:
0       467
24       12
16        9
20        5
686       5
       ...
1032      1
1022      1
599       1
1018      1
1904      1
Name: BsmtFinSF1, Length: 637, dtype: int64

BsmtFinSF2:
0       1293
180        5
374        3
551        2
93         2
        ...
532        1
544        1
546        1
547        1
1474       1
Name: BsmtFinSF2, Length: 144, dtype: int64

TotalBsmtSF:
0       37
864     35
672     17
912     15
1040    14
        ..
1463     1
1459     1
1454     1
1019     1
2046     1
Name: TotalBsmtSF, Length: 721, dtype: int64

In [ ]:
#Replace missing values BsmtQual
df_train["BsmtQual"].replace(np.nan, "NA", inplace = True)

#Replace Missing values BsmtCond
df_train["BsmtCond"].replace(np.nan, "NA", inplace = True)

#Replace misiing values BsmtExposure
df_train["BsmtExposure"].replace(np.nan, "NA", inplace = True)

#Replace misiing values BsmtFinType1
df_train["BsmtFinType1"].replace(np.nan, "NA", inplace = True)

#Replace Missing values BsmtFinType2
df_train["BsmtFinType2"].replace(np.nan, "NA", inplace = True)

In [ ]:
#Replace missing values Electrical
commonElectrical = df_train["Electrical"].value_counts().idxmax()
print("the most frecuently Electrical: {}".format(commonElectrical))

df_train["Electrical"].replace(np.nan, commonElectrical, inplace = True)

the most frecuently Electrical: SBrkr

In [ ]:
print("Number of fireplaces: \n{}".format(df_train["Fireplaces"].value_counts()))

#Replace FireplaceQu
df_train["FireplaceQu"].replace(np.nan, "NA", inplace = True)

Number of fireplaces:
0    690
1    650
2    115
3      5
Name: Fireplaces, dtype: int64

In [ ]:
#Replace GarageType
print("GarageType: \n{}".format(df_train["GarageType"].value_counts()))
print("\nGaragefinish: \n{}".format(df_train["GarageFinish"].value_counts()))
print("\nGarageCars: \n{}".format(df_train["GarageCars"].value_counts()))
print("\nGarageArea: \n{}".format(df_train["GarageArea"].value_counts()))
print("\nGarageQual: \n{}".format(df_train["GarageQual"].value_counts()))
print("\nGarageCond: \n{}".format(df_train["GarageCond"].value_counts()))

df_train["GarageType"].replace(np.nan, "NA", inplace = True)
df_train["GarageFinish"].replace(np.nan, "NA", inplace = True)
df_train["GarageQual"].replace(np.nan, "NA", inplace = True)
df_train["GarageCond"].replace(np.nan, "NA", inplace = True)
df_train["GarageYrBlt"].replace(np.nan, 0, inplace = True)

GarageType:
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

Garagefinish:
Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64

GarageCars:
2    824
1    369
3    181
0     81
4      5
Name: GarageCars, dtype: int64

GarageArea:
0       81
440     49
576     47
240     38
484     34
        ..
754      1
459      1
458      1
756      1
1418     1
Name: GarageArea, Length: 441, dtype: int64

GarageQual:
TA    1311
Fa      48
Gd      14
Po       3
Ex       3
Name: GarageQual, dtype: int64

GarageCond:
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: GarageCond, dtype: int64

In [ ]:
#Replace missing values Pool
print("Pool area in square feet: \n{}".format(df_train["PoolArea"].value_counts()))

df_train["PoolQC"].replace(np.nan, "NA", inplace = True)

Pool area in square feet:
0      1453
738       1
648       1
576       1
555       1
519       1
512       1
480       1
Name: PoolArea, dtype: int64

In [ ]:
#Replace missing values fence
df_train["Fence"].replace(np.nan, "NA", inplace = True)

In [ ]:
#Replace missing values misc features
df_train["MiscFeature"].replace(np.nan, "NA", inplace = True)

In [ ]:
df_train.to_csv("CleaningTrain.csv")

## Data Cleaning Test Dataset

In [ ]:
df_test = pd.read_csv("test.csv")
df_test.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [ ]:
missing_data = df_test.isnull()
columns_missing_data = []
for i, column in enumerate(df_test.columns.values.tolist()):
  columnn_missing_data = missing_data[column].value_counts()
  if len(columnn_missing_data) == 2:
    print(str(i) + ": " + column)
    print(columnn_missing_data)
    print("")
    columns_missing_data.append(column)

print("These columns have missing data:")
print(columns_missing_data)

2: MSZoning
False    1455
True        4
Name: MSZoning, dtype: int64

3: LotFrontage
False    1232
True      227
Name: LotFrontage, dtype: int64

6: Alley
True     1352
False     107
Name: Alley, dtype: int64

9: Utilities
False    1457
True        2
Name: Utilities, dtype: int64

23: Exterior1st
False    1458
True        1
Name: Exterior1st, dtype: int64

24: Exterior2nd
False    1458
True        1
Name: Exterior2nd, dtype: int64

25: MasVnrType
False    1443
True       16
Name: MasVnrType, dtype: int64

26: MasVnrArea
False    1444
True       15
Name: MasVnrArea, dtype: int64

30: BsmtQual
False    1415
True       44
Name: BsmtQual, dtype: int64

31: BsmtCond
False    1414
True       45
Name: BsmtCond, dtype: int64

32: BsmtExposure
False    1415
True       44
Name: BsmtExposure, dtype: int64

33: BsmtFinType1
False    1417
True       42
Name: BsmtFinType1, dtype: int64

34: BsmtFinSF1
False    1458
True        1
Name: BsmtFinSF1, dtype: int64

35: BsmtFinType2
False    1417
True       42
Name: BsmtFinType2, dtype: int64

36: BsmtFinSF2
False    1458
True        1
Name: BsmtFinSF2, dtype: int64

37: BsmtUnfSF
False    1458
True        1
Name: BsmtUnfSF, dtype: int64

38: TotalBsmtSF
False    1458
True        1
Name: TotalBsmtSF, dtype: int64

47: BsmtFullBath
False    1457
True        2
Name: BsmtFullBath, dtype: int64

48: BsmtHalfBath
False    1457
True        2
Name: BsmtHalfBath, dtype: int64

53: KitchenQual
False    1458
True        1
Name: KitchenQual, dtype: int64

55: Functional
False    1457
True        2
Name: Functional, dtype: int64

57: FireplaceQu
True     730
False    729
Name: FireplaceQu, dtype: int64

58: GarageType
False    1383
True       76
Name: GarageType, dtype: int64

59: GarageYrBlt
False    1381
True       78
Name: GarageYrBlt, dtype: int64

60: GarageFinish
False    1381
True       78
Name: GarageFinish, dtype: int64

61: GarageCars
False    1458
True        1
Name: GarageCars, dtype: int64

62: GarageArea
False    1458
True        1
Name: GarageArea, dtype: int64

63: GarageQual
False    1381
True       78
Name: GarageQual, dtype: int64

64: GarageCond
False    1381
True       78
Name: GarageCond, dtype: int64

72: PoolQC
True     1456
False       3
Name: PoolQC, dtype: int64

73: Fence
True     1169
False     290
Name: Fence, dtype: int64

74: MiscFeature
True     1408
False      51
Name: MiscFeature, dtype: int64

78: SaleType
False    1458
True        1
Name: SaleType, dtype: int64

These columns have missing data:
['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType']

In [ ]:
#Replace missing values MsZoning
commonMSZoning = df_test["MSZoning"].value_counts().idxmax()
print("The most common MSZoning: {}".format(commonMSZoning))

df_test["MSZoning"].replace(np.nan, commonMSZoning, inplace = True)

The most common MSZoning: RL

In [ ]:
#Replace Missing values LotFrontage
meanLontFrontage = df_test["LotFrontage"].mean()
df_test["LotFrontage"].replace(np.nan, meanLontFrontage, inplace = True)
print("The mean od the LontFrontage: {}".format(meanLontFrontage))

The mean od the LontFrontage: 68.58035714285714

In [ ]:
#Replace missing values Alley
df_test["Alley"].replace(np.nan, "NA", inplace = True)

df_test["Alley"].value_counts()

NA      1352
Grvl      70
Pave      37
Name: Alley, dtype: int64

In [ ]:
#Replace missing values Utilities
commonUtilities = df_test["Utilities"].value_counts().idxmax()
df_test["Utilities"].replace(np.nan, commonUtilities, inplace = True)

In [ ]:
#Replace missing values Exterior1st & Exterior2nd
commonExterior1st = df_test["Exterior1st"].value_counts().idxmax()
commonExterior2nd = df_test["Exterior2nd"].value_counts().idxmax()

df_test["Exterior1st"].replace(np.nan, commonExterior1st, inplace = True)
df_test["Exterior2nd"].replace(np.nan, commonExterior2nd, inplace = True)

In [ ]:
#Replace missing values MasVnrType
commonMasVnrType = df_test["MasVnrType"].value_counts().idxmax()
df_test["MasVnrType"].replace(np.nan, commonMasVnrType, inplace = True)

#Replace missing values MasVnrArea
df_test["MasVnrArea"].replace(np.nan, 0, inplace = True)

In [ ]:
#Replace missing values Bsmt
print("BsmtQual: \n{}".format(df_test["BsmtQual"].value_counts()))
print("\nBsmtCond: \n{}".format(df_test["BsmtCond"].value_counts()))
print("\nBsmtExposure: \n{}".format(df_test["BsmtExposure"].value_counts()))
print("\nBsmtFinType1: \n{}".format(df_test["BsmtFinType1"].value_counts()))
print("\nBsmtFinType2: \n{}".format(df_test["BsmtFinType2"].value_counts()))
print("\nBsmtFinSF1: \n{}".format(df_test["BsmtFinSF1"].value_counts()))
print("\nBsmtFinSF2: \n{}".format(df_test["BsmtFinSF2"].value_counts()))
print("\nTotalBsmtSF: \n{}".format(df_test["TotalBsmtSF"].value_counts()))

BsmtQual:
TA    634
Gd    591
Ex    137
Fa     53
Name: BsmtQual, dtype: int64

BsmtCond:
TA    1295
Fa      59
Gd      57
Po       3
Name: BsmtCond, dtype: int64

BsmtExposure:
No    951
Av    197
Gd    142
Mn    125
Name: BsmtExposure, dtype: int64

BsmtFinType1:
GLQ    431
Unf    421
ALQ    209
Rec    155
BLQ    121
LwQ     80
Name: BsmtFinType1, dtype: int64

BsmtFinType2:
Unf    1237
Rec      51
LwQ      41
BLQ      35
ALQ      33
GLQ      20
Name: BsmtFinType2, dtype: int64

BsmtFinSF1:
0.0       462
24.0       15
276.0       6
602.0       6
300.0       5
         ...
278.0       1
210.0       1
580.0       1
1328.0      1
771.0       1
Name: BsmtFinSF1, Length: 669, dtype: int64

BsmtFinSF2:
0.0      1278
162.0       3
294.0       3
483.0       3
144.0       2
         ...
308.0       1
167.0       1
186.0       1
250.0       1
750.0       1
Name: BsmtFinSF2, Length: 161, dtype: int64

TotalBsmtSF:
0.0       41
864.0     39
960.0     13
546.0     12
672.0     12
          ..
918.0      1
1910.0     1
1700.0     1
750.0      1
1075.0     1
Name: TotalBsmtSF, Length: 736, dtype: int64

In [ ]:
#Replace missing values BsmtQual
df_test["BsmtQual"].replace(np.nan, "NA", inplace = True)

#Replace Missing values BsmtCond
df_test["BsmtCond"].replace(np.nan, "NA", inplace = True)

#Replace misiing values BsmtExposure
df_test["BsmtExposure"].replace(np.nan, "NA", inplace = True)

#Replace misiing values BsmtFinType1
df_test["BsmtFinType1"].replace(np.nan, "NA", inplace = True)

#Replace Missing values BsmtFinType2
df_test["BsmtFinType2"].replace(np.nan, "NA", inplace = True)

In [ ]:
#replace missing values BsmtFinSF1
commonBsmtFinSF1 = df_test["BsmtFinSF1"].value_counts().idxmax()
df_test["BsmtFinSF1"].replace(np.nan, commonBsmtFinSF1, inplace = True)

#replace missing values BsmtFinSF2
commonBsmtFinSF2 = df_test["BsmtFinSF2"].value_counts().idxmax()
df_test["BsmtFinSF2"].replace(np.nan, commonBsmtFinSF2, inplace = True)

In [ ]:
#Replace missing values BsmtUnfSF
commonBsmtUnfSF = df_test["BsmtUnfSF"].value_counts().idxmax()
df_test["BsmtUnfSF"].replace(np.nan, commonBsmtUnfSF, inplace = True)

#Replace missing values TotalBsmtSF
commonTotalBsmtSF = df_test["TotalBsmtSF"].value_counts().idxmax()
df_test["TotalBsmtSF"].replace(np.nan, commonTotalBsmtSF, inplace = True)

#Replace missing values BsmtFullBath
commonBsmtFullBath = df_test["BsmtFullBath"].value_counts().idxmax()
df_test["BsmtFullBath"].replace(np.nan, commonBsmtFullBath, inplace = True)

#Replace missing values BsmtHalfBath
commonBsmtHalfBath = df_test["BsmtHalfBath"].value_counts().idxmax()
df_test["BsmtHalfBath"].replace(np.nan, commonBsmtHalfBath, inplace = True)

In [ ]:
#Replace missing values KitchenQual
commonKitchenQual = df_test["KitchenQual"].value_counts().idxmax()
df_test["KitchenQual"].replace(np.nan, commonKitchenQual, inplace = True)

In [ ]:
#Replace missing values KitchenQual
commonFunctional = df_test["Functional"].value_counts().idxmax()
df_test["Functional"].replace(np.nan, commonFunctional, inplace = True)

In [ ]:
print("Number of fireplaces: \n{}".format(df_test["Fireplaces"].value_counts()))

#Replace FireplaceQu
df_test["FireplaceQu"].replace(np.nan, "NA", inplace = True)

Number of fireplaces:
0    730
1    618
2    104
3      6
4      1
Name: Fireplaces, dtype: int64

In [ ]:
#Replace GarageType
print("GarageType: \n{}".format(df_test["GarageType"].value_counts()))
print("\nGaragefinish: \n{}".format(df_test["GarageFinish"].value_counts()))
print("\nGarageCars: \n{}".format(df_test["GarageCars"].value_counts()))
print("\nGarageArea: \n{}".format(df_test["GarageArea"].value_counts()))
print("\nGarageQual: \n{}".format(df_test["GarageQual"].value_counts()))
print("\nGarageCond: \n{}".format(df_test["GarageCond"].value_counts()))

df_test["GarageType"].replace(np.nan, "NA", inplace = True)
df_test["GarageFinish"].replace(np.nan, "NA", inplace = True)
df_test["GarageQual"].replace(np.nan, "NA", inplace = True)
df_test["GarageCond"].replace(np.nan, "NA", inplace = True)
df_test["GarageYrBlt"].replace(np.nan, 0, inplace = True)

GarageType:
Attchd     853
Detchd     392
BuiltIn     98
Basment     17
2Types      17
CarPort      6
Name: GarageType, dtype: int64

Garagefinish:
Unf    625
RFn    389
Fin    367
Name: GarageFinish, dtype: int64

GarageCars:
2.0    770
1.0    407
3.0    193
0.0     76
4.0     11
5.0      1
Name: GarageCars, dtype: int64

GarageArea:
0.0      76
576.0    50
440.0    47
484.0    34
400.0    33
         ..
364.0     1
369.0     1
316.0     1
226.0     1
353.0     1
Name: GarageArea, Length: 459, dtype: int64

GarageQual:
TA    1293
Fa      76
Gd      10
Po       2
Name: GarageQual, dtype: int64

GarageCond:
TA    1328
Fa      39
Po       7
Gd       6
Ex       1
Name: GarageCond, dtype: int64

In [ ]:
commonGarageCars = df_test["GarageCars"].value_counts().idxmax()
df_test["GarageCars"].replace(np.nan, commonGarageCars, inplace = True)

commonGarageArea = df_test["GarageArea"].value_counts().idxmax()
df_test["GarageArea"].replace(np.nan, commonGarageArea, inplace = True)

In [ ]:
#Replace missing values Pool
print("Pool area in square feet: \n{}".format(df_test["PoolArea"].value_counts()))

df_test["PoolQC"].replace(np.nan, "NA", inplace = True)

#Replace missing values fence
df_test["Fence"].replace(np.nan, "NA", inplace = True)

#Replace missing values misc features
df_test["MiscFeature"].replace(np.nan, "NA", inplace = True)

Pool area in square feet:
0      1453
800       1
561       1
444       1
368       1
228       1
144       1
Name: PoolArea, dtype: int64

In [ ]:
commonSaleType = df_test["SaleType"].value_counts().idxmax()
df_test["SaleType"].replace(np.nan, commonSaleType, inplace = True)

In [ ]:
missing_data = df_test.isnull()
columns_missing_data = []
for i, column in enumerate(df_test.columns.values.tolist()):
  columnn_missing_data = missing_data[column].value_counts()
  if len(columnn_missing_data) == 2:
    print(str(i) + ": " + column)
    print(columnn_missing_data)
    print("")
    columns_missing_data.append(column)

print("These columns have missing data:")
print(columns_missing_data)

These columns have missing data:
[]

In [ ]:
df_test.to_csv("CleaningTest.csv")